%h1 Blocos

%table
  %tr
    %th Titulo
    %th Video url
    %th Info
    %th
    %th

  - @blocos.each do |bloco|
    %tr
      %td= link_to bloco.titulo, bloco
      %td= bloco.video_url
      %td= bloco.info
      %td= link_to 'Editar', edit_bloco_path(bloco)
      %td= link_to 'Excluir', bloco, :confirm => 'Mesmo?', :method => :delete
%br

= link_to 'Novo Bloco', new_bloco_path
