%h1 Listing capitulos

%table
  %tr
    %th Video url
    %th Titulo
    %th Info
    %th
    %th
    %th

  - @capitulos.each do |capitulo|
    %tr
      %td= capitulo.video_url
      %td= capitulo.titulo
      %td= capitulo.info
      %td= link_to 'Show', capitulo
      %td= link_to 'Edit', edit_capitulo_path(capitulo)
      %td= link_to 'Destroy', capitulo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Capitulo', new_capitulo_path
