.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/admin"} VictorHaim
      .nav-collapse
        %ul.nav
          %li
            = link_to "Biografia", "/admin/arquivos"
          %li
            = link_to "Galeria", "/admin/galerias"
          %li.active
            = link_to "Arquivos", "/admin/arquivos"
          %li
            = link_to "Contatos", "/admin/contatos"
          %li
            = link_to "Blog", "/admin/blog"

#admin
  = link_to "Novo Arquivo", new_arquivo_path, {:class=>"btn btn-primary", :style=>'float:right'}
  %h1 Arquivos  
  %ul
  - Arquivo.all.each do |a|
    %li= a.info

  %h2 Novo Arquivo
    = render 'form'