#admin
  %h1{:style=>"float: left"} Episódios
  = link_to "Novo Episódio", new_episodio_path, :class=>"btn btn-primary", :style=>"float:right"
  %br  
  %br  
  %br  
  %table.table.table-striped
    %thead
      %tr
        %th Nome
        %th Descrição
        %th Videos
    %tbody
      - @episodios.each do |e|
        %tr
          %td{:width=>"15%"}= e.titulo
          %td= e.sinopse
          %td= e.blocos.count
          %td= link_to "Editar", edit_episodio_path(e), :class=>"btn"          
          %td= link_to "Excluir", episodio_path(e), :method=>:delete, :confirm => "Quer mesmo excluir este episódio com todos os vídeos?", :class=>"btn btn-danger"

