= "/mapa/marcador/#{@marcador.id}" if @marcador.id
%br
%br
= form_for @marcador do |f|  
  = f.hidden_field :bloco_id
  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :info
    = f.text_area :info, :class=>"area"
  .field
    = f.label "Tags (separadas por vírgula)"
    = f.text_field :tags, :value=> csv_tags(@marcador)
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :long
    = f.text_field :long
    %br
  .actions
    = f.submit 'Salvar', :class=>"btn"
  #status
