= form_for @marcador do |f|  
  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label "Tags (separadas por vírgula)"
    = f.text_field :tags, :value=> csv_tags(@marcador)
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :long
    = f.text_field :long
  .field
    = image_tag @marcador.image.url(:thumb) if @marcador.id
    = f.file_field :image
    %br
    %br
  .actions
    = f.submit 'Salvar', :class=>"btn"
