- m = @marcador
.left
	= image_tag m.image.url(:thumb)
	%br
	= m.titulo

.boxr
.left
	- unless m.bloco_id && m.autor
		%p.caixa Adicionado por #{link_to m.autor, m.autor_url}
	%br
	%span{:style=>"font-size: 13px; padding-bottom: 10px;"}
		tags:
		- tags = m.tags
		- tags.each do |t|
			= link_to t.name, t, :class=>"link"
			= ", " if tags.last != t