- m = @marcador
%p
	.left{:style=>"width:50%"}	
		
		- if m.bloco
			%a{:rel=>"lightbox", :href => m.bloco.image.url(:full)}
				= image_tag m.bloco.image.url(:thumb)
		- else			
			- if m.use_streetview?			
				%a.goToStreet{:href=>"#", :heading=>m.heading, :zoom=>m.zoom, :pitch=>m.pitch, :lat=>m.lat, :long=>m.long}
					= image_tag streetview_image(m)
			- else
				%a{:href=>m.image.url(:full), :rel=>"lightbox"}
					= image_tag m.image.url(:thumb)
		%br
		- if m.publico?
			= m.titulo
		- else
			= link_to m.titulo, play_bloco(m.bloco), :class=>"liame", :target=>"_blank"
		%br
		%br
	.left{:style=>"width:50%"}	
		%p= simple_format m.info
		%br
		- if m.publico?
			%p.caixa Adicionado por #{link_to m.autor, m.autor_url, :target=>"_blank"}
%br
%span.left{:style=>"font-size: 13px; padding-bottom: 10px;"}
	%br
	- if m.tags.length>0
		tags:
		- tags = m.tags
		- tags.each do |t|
			= link_to t.name, "#", :class=>"link", :tag=>t.urlized
			= ", " if tags.last != t