= render :partial => "pages/fundo"
= render :partial => "pages/menu"
= javascript_include_tag "index"

.container
	.logo
		= image_tag "/assets/logos/wdg_logo_home.gif"
	
	- if false # previous
		%img.nav.esq{:src=>"/assets/setas/seta_e.png"}
	
	.info-container		
		.info-box 
			%span
				- if b = Bloco.last
					%a#atual{:href=>play_bloco(b)}
						#{b.episodio.titulo}: #{b.titulo}
	
	- if false # previous
		%img.nav.dir{:src=>"/assets/setas/seta_d.png"}
	
	- if b = @b && e = b.episodio.ensaio?
		%a{:href=>"/player"}	
			%img#ensaio{:src=>"/assets/wdg_ensaio.png"}

#base
	%img.base{:src=>"/assets/wdg_home_footer.png"}
	%img.logos{:src=>"/assets/logos/logos.png"}
