- content_for :head do
	= stylesheet_link_tag "lightbox", "jquery-autocomplete"
	= javascript_include_tag "jquery.rotate", "mapa", "ajaxform", "lightbox", "jquery-ui-autocomplete.min"
	= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBwG0qBPx1M89Waoit_jg8TbJL2wcvQKts&sensor=false"
	- if @marcador
		- image = @marcador.use_streetview? ? streetview_image(@marcador) : @marcador.image.url(:thumb)
		%meta{:property=>"og:image", :content=>image}		
		%meta{:property=>"og:title", :content=>"WEBDOC GRAFFITI | #{@marcador.titulo.upcase}"}

#fb-root
	= javascript_include_tag "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=380422978692298"

%noscript
	%h1.red
		Habilite o Javascript!

%a{:href=>"/"}
	%img{:src=>"/assets/logos/wdg_logo_wdg.gif", :id=>"wdg_logo"}

.full
	#mapa	
	#close-pano
		[x] Fechar StreetView

#lateral
	#opaco
	#menul
		= render :partial => "pages/menu"
		#marcador{:style=>"margin-top: 10px"}
			.box{:style=>"width: 386px; margin-top: 30px;"}
				.box-head
					.boxr.item{:style=>"width: 355px"} MARCADOR
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre.dadosgo{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".dados", :fechado=>"0"}
			.box.in{:style=>"border-top: 0px; width: 386px; height: inherit"}
				%p.caixa.menor.dados{:marcador=>@marcador.id}
					selecione um marcador no mapa

			.box.lista{:style=>"width: 386px"}
				.box-head
					.boxr.item{:style=>"width: 355px"} TAGS
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre.aberto.go{:id=>"wdg_tags", :src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".wdg_tags", :fechado=>"1"}	

			.box.in{:style=>"border-top: 0px; width: 386px; display: block"}
				= render :partial => "maps_tags"

			.box.lista{:style=>"width: 386px"}
				.box-head
					.boxr.item{:style=>"width: 355px"} COMENTÃRIOS
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".comment", :fechado=>"0"}
			.box.in{:style=>"border-top: 0px; width: 386px; height: 350px"}
				- url = CGI.escape(self_url)
				- host = request.host
				%iframe.comment{:src=>"https://www.facebook.com/plugins/comments.php?api_key=380422978692298&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D8%23cb%3Df1fad68578%26origin%3D#{host}%252Ff2957f35f%26domain%3D#{host}%26relation%3Dparent.parent&href=#{url}&locale=pt_BR&numposts=5&sdk=joey&colorscheme=dark"}

			.box.lista
				.box-head
					.boxr.item{:style=>"width: 355px"} INSERIR MARCADOR
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:id=>"marca", :src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".add-marcador", :fechado=>"0", :auth=>@auth}		
			.box.in{:style=>"border-top: 0px; width: 386px; height: inherit; padding-bottom: 8px"}
				.add-marcador{:style=>"padding: 15px"}
					= render :partial => "pages/add_marcador"


= render :partial=>"pages/toggle"