= javascript_include_tag "jquery.rotate", "actualHeight", "player", "popcorn.min"

- exec = ''
- @bloco.hiperbalons.each do |h|
	- exec << "v.footnote({start: #{h.in}, end: #{h.out}, text: \\\"<a target='_blank' href='#{h.url}'><img class='hiper' src='#{h.image.url(:thumb)}' style='float:left; padding-right:10px'/></a>\\\", target: 'hiperbalon', effect: 'applyclass', applyclass: 'hiperbalon'}); "	

:javascript
	$(document).ready(function(){ eval("#{exec}") });

#fb-root
= javascript_include_tag "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=380422978692298"

#video.full{:video=>@bloco.video_url}
#hiperbalon.invisible

#lateral	
	#opaco
	#menul
		= render :partial => "pages/menu"
		#marcador{:style=>"margin-top: 10px"}			
			.box.sinopse{:style=>"width: 386px; margin-top: 30px;"}
				.box-large
					#bloco-titulo.boxr.item{:style=>"width: 355px"} 
						= @bloco.titulo
					.boxr.boxr-large{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".b1", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px; height: inherit; display:none"}
				%p.caixa.menor.b1 
					= spc @bloco.sinopse
					%br
					%br
					%span{:style=>"font-size: 13px; padding-bottom: 10px;"}
						tags:
						- tags = @bloco.tags
						- tags.each do |t|
							= link_to t.name, t, :class=>"link"
							= ", " if tags.last != t

			.box.box-large{:style=>"width: 386px; margin-top: 30px;"}				
				.box-head
					.boxr{:style=>"text-align: center; border-right: 0px; margin-top: 3px"} 
						= count @bloco.episodio.position
					.boxx.item{:style=>"width: 318px"} 
						= @bloco.episodio.titulo
					.boxr.boxr-large{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".videos-box", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px; display: none; height: inherit; color: white"}
				- blocos = @bloco.episodio.blocos
				.videos-box
					- if b1 = blocos[0]
						%a{:href=>play_bloco(b1)}
							.video{:style=>"padding-left: 16px; opacity: #{b1==@bloco ? 0.3 : 1}"}		
								= image_tag(b1.image.url(:thumb))
								.titulo= b1.titulo
					- if b2 = blocos[1]
						%a{:href=>play_bloco(b2)}
							.video{:style=>"opacity: #{b2==@bloco ? 0.3 : 1}"}
								= image_tag(b2.image.url(:thumb))
								.titulo= b2.titulo					
					- if b3 = blocos[2]
						%a{:href=>play_bloco(b3)}
							.video{:style=>"padding-left: 16px; opacity: #{b3==@bloco ? 0.3 : 1}"}
								= image_tag(b3.image.url(:thumb))
								.titulo= b3.titulo
					- if b4 = blocos[3]
						%a{:href=>play_bloco(b4)}
							.video{:style=>"opacity: #{b4==@bloco ? 0.3 : 1}"}
								= image_tag(b4.image.url(:thumb))
								.titulo= b4.titulo

			
			.box.lista{:style=>"width: 386px"}
				.box-head
					.boxr.item{:style=>"width: 355px"} COMENTÃRIOS
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre.aberto{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".comment", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px; height: 350px"}
				- url = CGI.escape(self_url)
				- host = request.host
				%iframe.comment{:src=>"https://www.facebook.com/plugins/comments.php?api_key=380422978692298&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D8%23cb%3Df1fad68578%26origin%3D#{host}%252Ff2957f35f%26domain%3D#{host}%26relation%3Dparent.parent&href=#{url}&locale=pt_BR&numposts=5&sdk=joey&colorscheme=dark"}

= render :partial=>"pages/toggle"