= javascript_include_tag "jquery.rotate"

#fb-root
= javascript_include_tag "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=380422978692298"

#mapa	
	//%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/2-V9knhF6RU", :width => "100%"}

#lateral	
	#opaco
	#menul
		= render :partial => "pages/menu"
		#marcador{:style=>"margin-top: 10px"}			
			.box{:style=>"width: 386px"}
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} 
						= @bloco.titulo
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".b1", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px;"}
				%p.caixa.menor.b1 
					= spc @bloco.info
					%br
					%br
					%span{:style=>"font-size: 16px; padding-bottom: 10px;"}
						tags: 
						%a.link{:href=>"#"}
							artista
						, 	
						%a.link{:href=>"#"}
							galo
						,	
						%a.link{:href=>"#"}
							processo

			.box{:style=>"width: 386px; margin-top: 30px;"}				
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} = @bloco.episodio.titulo
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre.aberto{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".videos-box", :fechado=>"1"}		
			.box.in{:style=>"border-top: 0px; width: 386px; display: block; height: 346px; color: white"}
				.videos-box
					.video{:style=>"padding-left: 16px; opacity: 0.3;"}
						%img{:src=>"/assets/vid.jpg"}
						.titulo PRIMEIRA PARTE
					.video
						%img{:src=>"/assets/vid.jpg"}
						.titulo SEGUNDA PARTE				
					.video{:style=>"padding-left: 16px"}
						%img{:src=>"/assets/vid.jpg"}
						.titulo MAIS UMA MAS COM UM NOME BEM MAIOR
					.video
						%img{:src=>"/assets/vid.jpg"}
						.titulo OUTRA PARTE						

			
			.box.lista{:style=>"width: 386px"}
				.box-head
					.boxr
					.boxr.item{:style=>"width: 330px"} COMENTÃRIOS
					.boxr{:style=>"border-right: 0px; width: 15px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn_menu.png", :toggle=>".comment", :fechado=>"0"}		
			.box.in{:style=>"border-top: 0px; width: 386px; display:block; height: 350px"}
				%iframe.comment{:src=>"https://www.facebook.com/plugins/comments.php?api_key=380422978692298&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D8%23cb%3Df1fad68578%26origin%3Dhttp%253A%252F%252Fwdg.heroku.com%252Ff2957f35f%26domain%3Dwdg.heroku.com%26relation%3Dparent.parent&href=http%3A%2F%2Fwdg.heroku.com%2Fplayer&locale=pt_BR&numposts=5&sdk=joey&colorscheme=dark"}
					

:coffeescript
	$ ->
		$('.video>img').hover(
			-> $(this).next().addClass "ativo"
			-> $(this).next().removeClass "ativo"
		)
			

= render :partial=>"pages/toggle"