= javascript_include_tag "jquery.rotate"

= render :partial => "pages/fundo"
= render :partial => "pages/menu"

%a{:href=>"/"}
	%img{:src=>"/assets/logos/wdg_logo_wdg.gif", :id=>"wdg_logo"}

.container
	#marcadores.box.box-head
		.boxr{:style=>"width: 31px"}
		.boxr.item
			TAGS
		.boxr{:style=>"border-right: 0px; width: 19px;"}
			%img.abre{:src=>"/assets/setas/seta_pqn.png", :toggle=>".marcadores", :fechado=>"0"}
	.box.in{:style=>"border-top: 0px"}
		.marcadores		
			.coluna
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							PINHEIROS
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							OS GÊMEOS
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							REPÚBLICA
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							CHIVITZ
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							BINHO
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							AKENI			
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							PINHEIROS							
			.coluna
				
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							OS GÊMEOS
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							REPÚBLICA
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							CHIVITZ
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							BINHO
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							AKENI
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							POLO
			.coluna
				.tag
					%input{:type=>"checkbox"}			
						%span.branco
							NUNCA

	- c = @episodios.count+1
	- @episodios.each do |e|
		- c-=1
		.box{:style=>"margin-top: 20px"}
			.box-head
				.boxr{:style=>"font-size: 21px; width: 31px;"} 
					= count c
				.boxr.item 
					= e.titulo
				.boxr{:style=>"border-right: 0px; width: 19px;"}
					%img.abre{:src=>"/assets/setas/seta_pqn.png", :toggle=>"#sinopse#{e.id}", :fechado=>"0"}	
		.box.in{:style=>"border-top: 0px"}
			%p.caixa{:style=>"border-bottom: 0px; padding: 8px", :id=>"sinopse#{e.id}"}
				= e.sinopse	
		.videos.box.caixa{:style=>"margin-bottom: 20px"}
			- x = 0
			- e.blocos.each do |b|
				- if x==0
					.video{:style=>"padding-left: 9px"}
						%a{:href=>"/bloco/#{b.urlized}"}
							= s3_image b.image.url(:thumb)
							.titulo 
								= b.titulo
				- else
					- if x==4
						.ensaio
							.video{:style=>"border-left: 1px; padding-left: 8px"}
								%a{:href=>"/bloco/#{b.urlized}"}
									= s3_image b.image.url(:thumb)
									.titulo 
										= b.titulo
					- else
						.video
							%a{:href=>"/bloco/#{b.urlized}"}
								= s3_image b.image.url(:thumb)
								.titulo 
									= b.titulo					
				- x+=1


:coffeescript

	abre = (id) ->
		seta = $(id)
		$(seta.attr("toggle")).parent().slideToggle()		
		if seta.attr("fechado") == "0"
			seta.attr("fechado", "1")
			seta.rotate({animateTo:90})
		else
			seta.attr("fechado", "0")
			seta.rotate({animateTo:0})	

	$ ->
		$('.container').fadeIn(500)
		$("#menu").addClass "active"		
		$(".item").click -> abre($(this).next().children())

		$('.video>a>img').hover(
			-> $(this).next().addClass "ativo"
			-> $(this).next().removeClass "ativo"
		)

		$('.abre').click -> abre($(this))
