= javascript_include_tag "jquery.rotate", "actualHeight", "videos"
= render :partial => "pages/fundo"
= render :partial => "pages/menu"

%a{:href=>"/"}
	%img{:src=>"/assets/logos/wdg_logo_wdg.gif", :id=>"wdg_logo"}

.container
	#marcadores.box.box-head
		.boxr{:style=>"width: 31px"}
			&nbsp;
		.boxr.item
			TAGS
		.boxr{:style=>"border-right: 0px; width: 19px;"}
			%img.abre{:src=>"/assets/setas/seta_pqn.png", :toggle=>".marcadores", :fechado=>"0"}
	#tags.box.in{:tag=>@video_tag}
		.marcadores
			%table			
				%tr
					- c = 0
					- @tags.each do |t|
						%td
							.tag
								- checked = false unless @video_tag
								%input{:type=>"checkbox", :checked=>checked, :id=>"tag-#{t.urlized}"}
									%span.branco= t.name
						- c+=1
						- if c % 4 == 0
							%tr
			%br
			= link_to "marcar", "#", :class=>"liame", :id=>"selectAll"
			%span /
			= link_to "desmarcar tudo", "#", :class=>"liame", :id=>"deselectAll"				

	- c = @episodios.count+1
	- @episodios.each do |e|
		- if e.blocos.count > 0
			- c-=1
			.box{:style=>"margin-top: 20px"}
				.box-head
					.boxr{:style=>"font-size: 21px; width: 31px; text-align: center;"} 
						= count c
					.boxr.item 
						= e.titulo
					.boxr{:style=>"border-right: 0px; width: 19px;"}
						%img.abre{:src=>"/assets/setas/seta_pqn.png", :toggle=>"#sinopse#{e.id}", :fechado=>"0"}	
			.box.in{:style=>"border-top: 0px;"}
				%p.caixa{:style=>"border-bottom: 0px; padding: 8px", :id=>"sinopse#{e.id}"}
					= spc e.sinopse
			.videos.box.caixa
				- x = 0
				- e.blocos.each do |b|
					- if x==0
						.video{:style=>"padding-left: 9px", :tags=>csv_url_tags(b)}
							%a{:href=>play_bloco(b)}
								= image_tag b.image.url(:thumb)
								.titulo 
									= b.titulo
					- else
						- if x==4
							.ensaio
								.video{:tags=>csv_url_tags(b)}
									%a{:href=>play_bloco(b)}
										= image_tag b.image.url(:thumb)
										.titulo 
											= b.titulo
						- else
							.video{:tags=>csv_url_tags(b)}
								%a{:href=>play_bloco(b)}
									= image_tag b.image.url(:thumb)
									.titulo 
										= b.titulo					
					- x+=1