%h1 Listing georefs

%table
  %tr
    %th Lat
    %th Long
    %th
    %th
    %th

  - @georefs.each do |georef|
    %tr
      %td= georef.lat
      %td= georef.long
      %td= link_to 'Mostra', georef
      %td= link_to 'Edita', edit_georef_path(georef)
      %td= link_to 'Exclui', georef, :confirm => 'mesmo?', :method => :delete

%br

= link_to 'Novo Georef', new_georef_path
