%p#notice= notice

%p
  %b Lat:
  = @georef.lat
%p
  %b Long:
  = @georef.long

<<<<<<< HEAD
= link_to 'Edit', edit_georef_path(@georef)
\|
= link_to 'Back', georefs_path
=======
= link_to 'Edita', edit_georef_path(@georef)
\|
= link_to 'Volta', georefs_path
>>>>>>> c8c5b1115815bf373e07331566c176a09fcef29b
