= form_for @episodio do |f|
  -if @episodio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@episodio.errors.count, "error")} prohibited this episodio from being saved:"
      %ul
        - @episodio.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :sinopse
    = f.text_area :sinopse, :style=>"width: 350px; height: 150px;"
  .field
    = f.label :creditos
    = f.text_area :credito, :style=>"width: 350px; height: 150px;"
  .actions
    = f.submit 'Save', :class=>"btn"
