= form_for @episodio do |f|
  -if @episodio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@episodio.errors.count, "error")} prohibited this episodio from being saved:"
      %ul
        - @episodio.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :sinopse
    = f.text_area :sinopse

  .field
    = f.label :Capa
    = f.file_field :capa
    %br
    = s3_image @episodio.capa.url(:thumb) if @episodio.id
  %br
  .actions
    = f.submit 'Salvar', :class=>"btn"
