= link_to "Novo Bloco", new_bloco_path, :style=>"float:right", :class=>"btn btn-primary"

#left{:style=>"float: left"}
	%h1 Editar Episódio
	%br
	= render 'form'

#right{:style=>"float: left; padding-left:40px"}
	%h1 Blocos
	- if @episodio.blocos.count > 0
		%table.table.table-striped
		%thead
			%tr
				%th Imagem
				%th Titulo
				%th Info
		%tbody
			- @episodio.blocos.each do |b|
				%tr
					%td= b.titulo
					%td{:width=>"15%"}= b.imagem.url(:thumb)
					%td= e.info
					%td= link_to "Editar", edit_episodio_path(e), :class=>"btn"          
					%td= link_to "Excluir", episodio_path(e), :method=>:delete, :confirm => "Quer mesmo excluir este episódio com todos os vídeos?", :class=>"btn btn-danger"
	- else
		%p Vazio. Adicione.
