%h1 Episodios

- count = @episodios.count
- if count > 0
  %table
    %tr
      %th Titulo
      %th Sinopse
      %th Resumo
      %th
      %th
      %th

    - @episodios.each do |episodio|
      %tr
        %td= link_to episodio.titulo, episodio
        %td= episodio.sinopse
        %td= episodio.resumo
        %td= link_to 'Edita', edit_episodio_path(episodio)
        %td= link_to 'Exclui', episodio, :confirm => 'mesmo?', :method => :delete
  %br
- else
  %p Vazio. Adicione.

%br
= link_to 'Novo Episodio', new_episodio_path, :class=>"btn btn-primary"
