= form_for @ensaio do |f|
  -if @ensaio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ensaio.errors.count, "error")} prohibited this ensaio from being saved:"
      %ul
        - @ensaio.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :video_url
    = f.text_field :video_url
  .field
    = f.label :titulo
    = f.text_field :titulo
  .actions
    = f.submit 'Save'
