%h1 Ensaios

%table
  %tr
    %th Titulo
    %th Video URL
    %th
    %th

  - @ensaios.each do |ensaio|
    %tr
      %td= link_to ensaio.titulo, ensaio
      %td= ensaio.video_url
      %td= link_to 'Editar', edit_ensaio_path(ensaio)
      %td= link_to 'Excluir', ensaio, :confirm => 'mesmo?', :method => :delete

%br

= link_to 'Novo', new_ensaio_path
