<<<<<<< HEAD
%p#notice= notice
=======
a%p#notice= notice
>>>>>>> c8c5b1115815bf373e07331566c176a09fcef29b

%p
  %b Video url:
  = @ensaio.video_url
%p
  %b Titulo:
  = @ensaio.titulo

<<<<<<< HEAD
= link_to 'Edit', edit_ensaio_path(@ensaio)
\|
= link_to 'Back', ensaios_path
=======
= link_to 'Edita', edit_ensaio_path(@ensaio)
\|
= link_to 'volta', ensaios_path
>>>>>>> c8c5b1115815bf373e07331566c176a09fcef29b
