!!!
%html{:lang => "pt-br"}
  %head
    %title WDG Admin
    %link{:type => "image/x-icon", :rel=>"icon", :href=>"/assets/favicon.ico"}
    = javascript_include_tag "jquery171", "bootstrap", "rails"
    = stylesheet_link_tag "bootstrap"
    %style
      textarea {width: 350px; height: 150px}
  %body

  .navbar
    .navbar-inner
      .container
        %a.brand{:href => "/admin"} WDG
        .nav-collapse
          %ul.nav
            %li
              = link_to "Episódios", "/admin/episodios"
            %li
              = link_to "Marcadores", "/admin/marcadores"

  - unless flash[:notice].blank?
    - if flash[:error]
      .alert.alert-error 
        = flash[:notice]
    - else
      .alert.alert-info 
        = flash[:notice]
      
  #adm{:style=>"padding:30px"}     
    = yield
