!!!
%html{:lang => "pt-br"}
  %head
    %title WDG Admin
    = javascript_include_tag "jquery171", "bootstrap"
    = stylesheet_link_tag "bootstrap"
  %body

  .navbar
    .navbar-inner
      .container
        %a.brand{:href => "/admin"} WDG
        .nav-collapse
          %ul.nav
            %li.active
              = link_to "Episódios", "/admin/episodios"
            %li
              = link_to "Mapas", "/admin/mapas"

    - unless flash[:notice].blank?
      .alert-message.info
        = content_tag :div, flash[:notice]
    - unless flash[:error].blank?
      .alert-message.error
        = content_tag :div, flash[:error]
    - unless flash[:alert].blank?
      .alert-message.warning
        = content_tag :div, flash[:alert]
       
  .container{:style=>"margin: 30px"} 
    = yield
