!!!
%html{:lang => "pt-br"}
  %head    
    - if @titulo
      %title= "WEBDOC GRAFFITI | #{@titulo}" 
    - else
      %title WEBDOC GRAFFITI    
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}    
    %link{:type => "image/x-icon", :rel=>"icon", :href=>"/assets/favicon.ico"}
    %meta{:name=>"viewport", :content=>"width=950", "initial-scale"=>"1"}
    %meta{:property=>"fb:app_id", :content=>"380422978692298"}
    %meta{:property=>"fb:admins", :content=>"polo.rafael,giovannifrancischelli"}
    %meta{:property=>"og:title", :content=>"WEBDOC GRAFFITI"}
    %meta{:property=>"og:type", :content=>"website"}    
    %meta{:property=>"og:site_name", :content=>"WEBDOC GRAFFITI"} 
    = javascript_include_tag "jquery171", "webdoc"
    %meta{:property=>"og:image", :content=>"http://webdocgraffiti.com.br/assets/logos/wdg_logo_home.gif"}
    = yield :head         
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3761913-22']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = stylesheet_link_tag "webdoc"
  %body
    = yield