<!DOCTYPE html>
<html>
<head>
  <title>Webdoc</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%=    link_to 'Blocos', blocos_path %>
<%=    link_to 'Episodios', episodios_path %>
<%= link_to 'Ensaios', ensaios_path %>
<%= link_to 'Georefs', georefs_path %>
<%= link_to 'Tags', tags_path %>

<%= yield %>

</body>
</html>
