= form_for @bloco do |f|
  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :youtube_link
    = f.text_field :video_url  
  .field
    = f.label :sinopse
    = f.text_area :sinopse
  .field
    = f.label "tags (separadas por vírgulas)"
    = f.text_field :tags, :value=> csv_tags(@bloco)
  .field
    = f.label :Imagem
    = f.file_field :image      
    %br
    = image_tag @bloco.image.url(:thumb) if @bloco.id    
    = f.hidden_field :episodio_id, :value => @bloco.episodio ? @bloco.episodio.id : @episodio_id
    %br
    %br
  .actions
    = f.submit 'Salvar', :class=>"btn"
