#left{:style=>"float: left"}
	%h1 Editar Bloco
	%br
	= render 'form'

- count = @bloco.hiperbalons.count
#right{:style=>"float: left; padding-left:40px; width: 55%"}
	%h1 Hiper Balões
	- if count > 0
		%table.table.table-striped
			%thead
				%tr
					%th Imagem
					%th URL
					%th Duração
			%tbody
				- @bloco.hiperbalons.each do |h|
					%tr
						%td{:width=>"15%"}= image_tag h.image.url(:thumb)
						%td= h.url
						%td{:width=>"200px"}= "#{h.in}s -> #{h.out}s"
						%td= link_to "Editar", edit_hiperbalon_path(h), :class=>"btn"
						%td= link_to "Excluir", hiperbalon_path(h), :method=>:delete, :confirm => "Quer mesmo excluir este hiperbalão?", :class=>"btn btn-danger"
	- else
		%p Vazio. Adicione.

	- if count<5
		= link_to "Novo HiperBalão", new_hiperbalon_path + "?bloco_id=#{@bloco.id}", :class=>"btn btn-primary"